@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components 
{
.botao-seguir 
    { @apply
        shadow-md hover:shadow-cyan-500 hover:dark:shadow-cyan-500 
        text-gray-200  px-4  bg-sky-900 rounded-full uppercase ;
    }
.insira-nome 
    { @apply
          h-full flex flex-col items-center justify-center gap-10 -mt-20;
    }
.card
    { @apply
         p-3 bg-gray-200 dark:bg-dark-200 sm:rounded-xl sm:shadow-lg flex gap-2 flex-col items-center hover:shadow-cyan-200 transition duration-300 delay-150 ;
    }
}

